{% extends "base.html.twig" %}

{% block title %}
    Administration -
    {{ parent() }}
{% endblock %}

{% block body %}
    <section id="admin"
             class="d-flex flex-row flex-wrap justify-content-around container mt-4 pt-3 pb-5 mb-5 text-center">
        <div class="col-12 d-flex flex-row flex-wrap mb-4 px-3">
            <h3 class="fw-normal display-5"><em class="fas fa-cogs text-primary me-3"></em>Gestion des commentaires</h3>
        </div>

        <div class="d-flex flex-column flex-wrap align-items-center justify-content-around container text-center mh-75"
             id="tricks-list">
            {% for trick in tricks %}
                {% if trick.comments|length > 0 %}
                    <h3 class="me-auto mb-3">
                        <em class="fas fa-snowboarding text-primary"></em>
                        <span class="alert alert-primary trick-category small mx-2"> {{ trick.category.name }}</span>
                        <a href="/trick/{{ trick.slug }}">{{ trick.name }}</a>
                    </h3>
                    <table class="table table-striped table-sm mb-5">
                        <thead class="">
                        <tr class="bg-primary text-white">
                            <th scope="col"><em class="fas fa-user me-2"></em>Auteur</th>
                            <th scope="col" class="w-50"><em class="fas fa-comment reverse-h me-2"></em>Commentaire</th>
                            <th scope="col"><em class="fas fa-clock me-2"></em>Date</th>
                            <th scope="col"><em class="fas fa-eye me-2"></em>Visible</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for comment in trick.comments %}
                        <tr class="bg-white">
                            <th scope="row"><span class="text-primary fw-bold">{{ comment.user.username }}</span></th>
                            <td>{{ comment.content }} </td>
                            <td>Le {{ comment.createdAt|date('d/m/Y à H:i') }}</td>
                            <td>
                                <form class="custom-control custom-switch ms-auto" method="POST"
                                      action="/admin/commentaire/{{ comment.id }}/changer-statut/">
                                    <input type="checkbox" {% if comment.status == 1 %}checked{% endif %}
                                           class="custom-control-input bigger" name="comment_{{ comment.id }}" id="{{ comment.id }}" value="1"
                                           onchange="this.form.submit()"/>
                                    <label class="custom-control-label d-none" for="{{ comment.id }}">Afficher</label>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            {% endfor %}
        </div>
        <div class="w-100">
            <img id="loader" class="col-12 rounded mx-auto" src="{{ asset('img/loader.gif') }}" alt="Trick"/>
        </div>
    </section>
{% endblock %}
