<div id="alert-area" class="w-100">
    <div class="d-flex flex-column col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        {% for message in app.flashes('info') %}
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                <em class="fas fa-info-circle me-2"></em>{{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <em class="fas fa-exclamation-circle me-2"></em>{{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <em class="fas fa-question-circle me-2"></em>{{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <em class="fas fa-check-circle me-2"></em>{{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <em class="fas fa-check-circle me-2"></em>{{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    </div>
</div>
